#root {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.card {
    margin: 1rem;
    padding: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.2s linear;
}

.card:hover {
    box-shadow: 2px 8px 45px rgb(229, 72, 15);
    transform: translate3D(0, -2px, 0);
}

marquee {
    font-size: 3rem;
}
